<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Change Password</title>
    <link
      rel="icon"
      type="image/x-icon"
      src="https://png.pngtree.com/png-clipart/20210711/original/pngtree-sports-icon-design-with-human-shape-running-png-image_6524332.jpg"
    />
    <script>
      function myFunction1() {
        var x = document.getElementById("myInput1");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      function myFunction2() {
        var x = document.getElementById("myInput2");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="grid grid-cols-6">
      <div class="my-5 col-start-3 col-span-2">
        <h2 class="text-xl font-semibold text-gray-600">Change Password</h2>
        <form action="/changePassword" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3">
            <label for="oldPassword">Old Password</label>
            <input
              name="oldPassword"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              type="password"
              placeholder="Enter Old Password"
              id="myInput1"
            />
            <input
              class="p-5 my-3"
              type="checkbox"
              onclick="myFunction1()"
            />Show Password
          </div>
          <div class="py-3">
            <label for="newPassword">New Password</label>
            <input
              name="newPassword"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              type="password"
              placeholder="Enter New Password"
              id="myInput2"
            />
            <input
              class="p-2 my-3"
              type="checkbox"
              onclick="myFunction2()"
            />Show Password
          </div>
          <div class="py-3">
            <button
              type="submit"
              class="text-white bg-cyan-700 hover:bg-cyab-800 font-medium rounded px-5 py-2"
            >
              Change
            </button>
          </div>
        </form>
        <div class="text-grey-600">
          <% if (messages && messages.error && messages.error.length > 0) { %>
          <% for (var i = 0; i < messages.error.length; i++) { %>
          <li><%= messages.error[i] %></li>
          <% } %> <% } else if (messages && messages.success &&
          messages.success.length > 0) { %> <% for (var i = 0; i <
          messages.success.length; i++) { %>
          <li class="text-green-500"><%= messages.success[i] %></li>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
